<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="~{layout :: header(title='__#{error.title}__')}">
	<title>404 Error page.</title>
</head>

<body class="body-form">

<nav th:replace="~{layout :: navbar(title='__#{error.title}__')}">
	<span>404 Error page navbar</span>
</nav>

<div role="main" class="container">
	<div class="container-fluid bg-dark text-light text-center p-5">
		<h1 class="text-danger glow glow-red" th:text="#{error.404}">Error 404</h1> 
		<h3 class="font-weight-smaller pt-5" th:text="${exception.getMessage()}">The recipe you requested was not found.</h3>
   </div>
</div>

 
<footer th:replace="~{layout :: footer}">
	<span>404 Error page footer</span>
</footer>


<th:block th:replace="~{layout :: scripts}"></th:block>

    
</body>
</html>